input.geot_license_{
	background: #fff url( ../img/invalid-key.png) no-repeat 99% center;
}
input.geot_license_valid{
	background: #fff url( ../img/valid-key.png) no-repeat 99% center;
}
.btn-spinner {
	position: relative;
}
.btn-spinner:before {
	content: "";
	background: url('../img/wpspin_light.gif') no-repeat;
	background-size: 16px 16px;
	float: right;
	opacity: .7;
	filter: alpha(opacity=70);
	width: 16px;
	height: 16px;
	right: -27px;
	top: 5px;
	position: absolute;
}

input.api-keys{
	width:42%;
	margin-right: 5px;
}
.geot-settings .region-group,
.geot-settings .redirection-group,
.geot-settings .city-region-group
{
	display: block;
	margin-bottom: 20px;
	position: relative;
}
.geot-settings .redirection-group:last-child,
.geot-settings .region-group:last-child,
.geot-settings .city-region-group:last-child
{
	margin-bottom: 0;
}
.geot-settings .redirection-group .chosen-container,
.geot-settings .city-region-group .chosen-container,
.geot-settings .region-group .chosen-container{
	margin-top: 10px;
}
.geot-settings .redirection-group .remove-redirection,
.geot-settings .city-region-group .remove-city-region,
.geot-settings .region-group .remove-region{
	display: none;
	text-decoration: none;
	padding: 0 7px;
	font-weight: bold;
	font-size: 16px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

}
.geot-settings .redirection-group:hover .remove-redirection ,
.geot-settings .region-group:hover .remove-region ,
.geot-settings .city-region-group:hover .remove-city-region {
	display: inline-block;

}
.geot-settings .redirection-group:hover .remove-redirection:hover,
.geot-settings .city-region-group:hover .remove-city-region:hover,
.geot-settings .region-group:hover .remove-region:hover{
	color: red;
}
.geot-settings .add-redirection,
.geot-settings .add-region,
.geot-settings .add-city-region
{
	clear: both;
	margin-top: 10px;
}
#geot_widget .chosen-container-multi .chosen-choices li.search-field input[type=text],
#geot_editor .chosen-container-multi .chosen-choices li.search-field,
#geot_editor .chosen-container,
#geot_editor .chosen-container ul,
#geot_editor .chosen-container-multi .chosen-choices li.search-field input[type=text]{
	width: 100% !important;
}
.field-geot_country {
	border: 2px dashed #cdc8c8;
	padding: 10px;
	box-sizing: border-box;
}
.ui-dialog.ui-front{
	z-index: 100102;
}
